<div class="container">
	<div class="row">
		<table class="highlight">
			<thead>
				<th>STT</th>
				<th>Tên người dùng</th>
				<th>Số điểm</th>
			</thead>
			<tbody ng-repeat="user in $ctrl.topUsers track by $index">
				<td>{{$index+1}}</td>
				<td>{{user.username || user.services.facebook.name }}</td>
				<td><img src="{{user.profile.avatar || 'http://vignette2.wikia.nocookie.net/disney/images/b/b9/15896302209_ecbec20aa7_b.jpg/revision/latest?cb=20151219065007'}}" class="circle" style="width: 50px;" alt=""></td>
				<td>{{user.profile.point || 0}}</td>
				<td ng-if="!user.profile.point"> Thu sinh</td>
				<td ng-if="user.profile.point <= 100">Thu sinh</td>
				<td ng-if="user.profile.point > 100 && user.profile.point <= 300">Mot sach</td>
				<td ng-if="user.profile.point >300 && user.profile.point <= 500" >Tu Tai</td>
				<td ng-if="user.profile.point >500 && user.profile.point <= 700" >Pho bang</td>
				<td ng-if="user.profile.point >700 && user.profile.point <= 900" >Tien si</td>
				<td ng-if="user.profile.point >900 && user.profile.point <= 1200" >Hoanh Giap</td>
				<td ng-if="user.profile.point >1200 && user.profile.point <= 1500" >Tham Hoa</td>
				<td ng-if="user.profile.point >1500 && user.profile.point <= 2000" >Bang Nhan</td>
				<td ng-if="user.profile.point >2000" >Trang Nguyen</td>
			</tbody>
		</table>
	</div>
</div>