<div class="container" style="margin-right: 1%;">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div ng-if="$ctrl.books">
    <div class="item-card z-depth-1" ng-repeat="book in $ctrl.books" style="margin-top: 5px;">
      <span class="book-title indigo-text truncate">{{book.name}}</span>
      <i class="item-more-btn material-icons indigo-text text-darken-4">more_vert</i>
      <span class="item-link" ui-sref="showReviews({ bookId: book.id })"></span>
      <img ng-src="{{book.cover}}" alt="book-title" class="book-cover">
    </div>
  </div>
  <div class="not-found" style="display: none">
    <h5 class="indigo-text center" style="margin-top: 40vh;">
      Không tìm thấy sách theo từ khóa "{{$ctrl.params}}"
    </h5>
  </div>
</div>
<input type="hidden" id="query" value="{{$ctrl.params}}" ng-if="$ctrl.params">
<script>
  $(function () {
    $('#search').val("");
    setTimeout(function () {
      var query = $('#query').val();
      $('#search').val(query);
    }, 10);
    $('.progress').delay(5000).hide(0);
    $('.not-found').delay(5500).show(0);
  });
</script>