<div class="container indigo white-text">
  <center>
    <div ng-if="$ctrl.currentUser.profile.avatar">
      <img id="avatar" src="{{ $ctrl.currentUser.profile.avatar}}" alt="" class="circle" style="width: 90px; height: 90px; object-fit: cover;">
    </div>
    <a ngf-drop ngf-select ngf-change="$ctrl.addImages($files)" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
      ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="true" ngf-resize="{width: 100, height: 100}"
      class="drop-box waves-effect btn amber white-text">
      <i class="material-icons">file_upload</i>Sửa ảnh
    </a>
    <h5>{{$ctrl.currentUser.username}}</h5>
  </center>
  <form style="margin-top: 20px" ng-submit="$ctrl.changePassword($ctrl.password,$ctrl.password2,$ctrl.new_password)">
    <div class="row">
      <p class="pink"> {{ $ctrl.errors}}</p>
      <p class="indigo"> {{ $ctrl.success}}</p>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="$ctrl.password" required="true">
        <label for="password">Mật khẩu cũ</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="new-password" type="password" class="validate" ng-model="$ctrl.new_password" required="true">
        <label for="new-password">Mật khẩu mới</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password2" type="password" class="validate" ng-model="$ctrl.password2" required="true">
        <label for="password2">Nhập lại mật khẩu mới</label>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-large" style="width: 100%">Cập nhật</button>
  </form>
</div>
<style>
</style>