<div class="container" style="padding-top: 0;">
  <div class="image_baner indigo-gradient">
    <img class="z-depth-2" ng-src="{{$ctrl.book.cover}}" style="height: 100%">
  </div>
  <div class="row indigo a" style="border-bottom: 1px solid;border-color: white;">
    <div class="col s12 center" style="height: 12vh;">
      <h5 class="amber-text ellipsis" style="-webkit-line-clamp: 1;">{{$ctrl.review.name}}</h5>
      <div class="white-text">15 lượt thích</div>
    </div>
  </div>
  <div class="row a">
    <div class="col s12 information center indigo white-text">
      <div class="col s6" style="font-weight: bold; height: 13vh; border-right: 1px solid; border-color: white;">
        <input type="hidden" id="star_review" value="{{$ctrl.review.star}}">
        <!--<div class="style-text col s3" style="font-size: 16px;">{{$ctrl.review.star}}/5</div>-->
        <div class="amber-text col s12" style="margin-top: 2vh">
          <i class="material-icons" style="margin-right: -5px;" id="true-0">star</i>
          <i class="material-icons" style="margin-right: -5px;" id="true-1">star</i>
          <i class="material-icons" style="margin-right: -5px;" id="true-2">star</i>
          <i class="material-icons" style="margin-right: -5px;" id="true-3">star</i>
          <i class="material-icons" style="margin-right: -5px;" id="true-4">star</i>
        </div>
        <!--<div class="amber-text  col s9">
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="true-0">star</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="true-1">star</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="true-2">star</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="true-3">star</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="true-4">star</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="false-0">star_border</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="false-1">star_border</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="false-2">star_border</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="false-3">star_border</i>
          <i class="material-icons stars_hide" style="margin-right: -5px;" id="false-4">star_border</i>
        </div>-->
        <div class="center">({{$ctrl.review.user_rate}} nhận xét)</div>
      </div>
      <div class="col s6 center" style="font-size:18px;height: 13vh;line-height: 13vh;">{{$ctrl.review.user_id}}</div>
    </div>
    <div class="col s12 information z-depth-1" style="margin-top: 10px; padding: 10px 0">
      <div class="center" style="font-size: 16px; font-weight: bold;">Mô tả</div>
      <div style="padding: 10px;" class="ellipsis">{{$ctrl.review.description}}</div>
      <button ui-sref="readBooks({ reviewId: $ctrl.review._id })" ng-click="$ctrl.view($ctrl.review._id)" class="col s12 m8 offset-m2 l6 offset-l3 btn btn-large waves-effect indigo">
        Đọc sách
      </button>
    </div>

    <div class="col s12 information" style="margin-top: 10px;">
      <div class="center" style="font-size: 16px; font-weight: bold;">Người dùng nhận xét</div>
      </div>
      <button ui-sref="commentReviews({reviewId: $ctrl.review._id})" class="col s12 m8 offset-m2 l6 offset-l3 btn waves-effect indigo">
        Viết nhận xét
      </button>
    </div>
  </div>
  <div ng-if="$ctrl.logined">
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light amber">
        <i class="large material-icons white-text">menu</i>
      </a>
      <ul>
        <li ng-if="$ctrl.logined && !$ctrl.bookcase" ng-click="$ctrl.add($ctrl.review._id)" class="add-mine">
          <a class="btn-floating waves-effect waves-light white"><i class="material-icons indigo-text">add</i></a>
        </li>
        <li ng-if="$ctrl.logined && $ctrl.bookcase" ng-click="$ctrl.remove($ctrl.review._id)" class="remove-mine">
          <a class="btn-floating waves-effect waves-light white"><i class="material-icons indigo-text">remove</i></a>
        </li>
        <li ng-if="$ctrl.logined && !$ctrl.love" ng-click="$ctrl.add_love($ctrl.review._id)">
          <a class="btn-floating white"><i class="fa fa-heart red-text" aria-hidden="true"></i>
        </li>
        <li ng-if="$ctrl.logined && $ctrl.love" ng-click="$ctrl.remove_love($ctrl.review._id)">
          <a class="btn-floating white"><i class="fa fa-heart-o red-text" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="fixed-action-btn" ng-if="!$ctrl.logined" ui-sref="login({loginID: 2})">
    <a class="btn-floating btn-large waves-effect waves-light amber">
      <i class="large material-icons white-text">menu</i>
    </a>
  </div>
  <style>
    .image_baner {
      height: 65vh;
      text-align: center;
      margin: 0 -2%;
    }
    
    .style-text {
      padding-top: 10px;
      padding-left: 10px;
    }
    
    .information {
      background-color: white;
    }
    
    .a {
      margin-bottom: 0!important;
    }
    
    .ellipsis {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 13;
      -webkit-box-orient: vertical;
    }
    
    .stars_hide {
      display: none;
    }
  </style>

  <script>
    setTimeout(function () {
      var tmp = parseInt($('#star_review').val());
      for (var i = 0; i < tmp; i++) {
        var pos = '#true-' + i.toString();
        $(pos).show();
        var poss = '#trues-' + i.toString();
        $(poss).show();
      }
      for (var j = 0; j < 5 - tmp; j++) {
        var pos2 = '#false-' + j.toString();
        $(pos2).show();

        var pos2s = '#falses-' + j.toString();
        $(pos2s).show();
      }
    }, 2000)
  </script>
