<center class="container indigo white-text">
  <form ng-submit="$ctrl.loginUser($ctrl.email,$ctrl.password)">
    <div class="row center">
      <img src="images/logo.png" alt="" class="responsive-img" style="max-height:90px; margin-top: 10px">
      <div>BookWorm</div>
      <h5>ĐĂNG NHẬP</h5>
    </div>
    <div class="center pink-text" ng-if="$ctrl.errors">
      {{$ctrl.errors}}
    </div>
    <div class="pink-text error_login center" style="display: none;">Bạn cần đăng nhập để thực hiện chức năng này!</div>
    <div class='row'>
      <div class='input-field col s12 m8 offset-m2 l6 offset-l3 left-align'>
        <input id="username" type="text" class="validate grey-text text-lighten-4" ng-model="$ctrl.email" required="true">
        <label for="username">Tên người dùng</label>
      </div>
      <div class='input-field col s12 m8 offset-m2 l6 offset-l3 left-align'>
        <input class='validate grey-text text-lighten-4' type='password' name='password' id='password' ng-model="$ctrl.password"
          required="true">
        <label for='password'>Mật khẩu</label>
      </div>
    </div>
    <div class="row">
      <button type='submit' name='btn_login' class='center col s10 offset-s1 m8 offset-m2 l6 offset-l3 btn btn-large waves-effect amber'>Đăng nhập</button>
    </div>
  </form>
  <div class="row center" style="margin-top: 20px">
    <a class='amber-text' href="/register"><strong>Bạn chưa có tài khoản? Đăng ký ngay</strong></a>
    <br>
    <a class='pink-text' href='#!'>Bạn quên mật khẩu?</a>
  </div>
</center>
<script>
  setTimeout(function () {
    $('.error_login').hide();
    $('.error_login').css('display', 'none');
  }, 2000);
</script>